__pycache__/kalkulator.cpython-37.pyc
__pycache__/fungsiBangunRuang.cpython-37.pyc
.vscode/settings.json
kalkulatorMain.exe
__pycache__/kalkulatorMain.cpython-37.pyc
calculatorWorkspace.code-workspace
